<?xml version="1.0"?>
<launch>

    <arg name="template_source_image_dir_path" default="$(find eurobin_perception)/models/slider_solver_templates_images"/>
    <arg name="output_dir_path" default="$(find eurobin_perception)/output_data"/>
    <arg name="image_topic" default="/camera/color/image_raw"/>
    <!-- <arg name="image_topic" default="/eurobin_perception/dummy_lcd_images"/> -->
    <arg name="task_stage" default="1"/>
    <arg name="detection_score_threshold" default="0.7"/>
    <arg name="run_on_ros_trigger" default="false"/>
    <arg name="run_on_udp_trigger" default="true"/>
    <arg name="udp_ip" default="localhost"/>
    <arg name="udp_trigger_port" default="7000"/>
    <arg name="udp_output_port" default="8000"/>
    <arg name="image_pub_topic" default="/eurobin_perception/slider_solver_images"/>
    <arg name="trigger_topic" default="/eurobin_perception/silder_solver_trigger"/>
    <arg name="input_image_pub_topic" default="/eurobin_perception/slider_solver_input_images"/>
    <arg name="slider_distance_pub_topic" default="/eurobin_perception/slider_solver_result"/>
    <arg name="publish_visual_output" default="true"/>
    <arg name="save_output" default="false"/>
    <arg name="debug" default="false"/>

    <node pkg="eurobin_perception" type="slider_task_solver_node" name="slider_task_solver"
        output="screen" respawn="false">
        <param name="template_source_image_dir_path" type="str" value="$(arg template_source_image_dir_path)"/>
        <param name="output_dir_path" type="str" value="$(arg output_dir_path)"/>
        <param name="task_stage" type="int" value="$(arg task_stage)"/>
        <param name="detection_score_threshold" type="double" value="$(arg detection_score_threshold)"/>
        <param name="run_on_ros_trigger" type="bool" value="$(arg run_on_ros_trigger)"/>
        <param name="run_on_udp_trigger" type="bool" value="$(arg run_on_udp_trigger)"/>
        <param name="udp_ip" type="str" value="$(arg udp_ip)"/>
        <param name="udp_trigger_port" type="int" value="$(arg udp_trigger_port)"/>
        <param name="udp_output_port" type="int" value="$(arg udp_output_port)"/>
        <param name="image_topic" type="str" value="$(arg image_topic)"/>
        <param name="trigger_topic" type="str" value="$(arg trigger_topic)"/>
        <param name="image_pub_topic" type="str" value="$(arg image_pub_topic)"/>
        <param name="input_image_pub_topic" type="str" value="$(arg input_image_pub_topic)"/>
        <param name="slider_distance_pub_topic" type="str" value="$(arg slider_distance_pub_topic)"/>
        <param name="publish_visual_output" type="bool" value="$(arg publish_visual_output)"/>
        <param name="save_output" type="bool" value="$(arg save_output)"/>
        <param name="debug" type="bool" value="$(arg debug)"/>
    </node>

</launch>
